.Header {
  height: 50px;
  background: #7574b2;
  border-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}


li#li:hover {
  background-color: #b1b0f4;
  cursor: pointer;
  font-weight: bold;
}

li#li {
  width: 150px;
  float: left;
}


ul a {
  color: black;
  text-decoration: none;
}


ul#ul {
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}

#HeaderText {
  font-size: 20px;
}


/*
for mobile or tablet
*/

i {
  position: absolute;
  right: 0px;
}

i:hover {
  cursor: pointer;
}


.myLinks {

  position: absolute;
  right: 10px;
  top: 50px;
  width: 100%;
  display: none;
}


.mobileHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #7574b2;
  width: 100%;
  height: 50px;;
  z-index: 2;
}

.change-bar {
  position: absolute;
  top: 50px;
  width: 100%;
  display: block;
  background: lightblue;
}

.change-bar #dropdown {
  width: 100%;
  height: 50px;
  padding: 10px;
  float: left;

}

.change-bar #dropdown:hover {
  background: red;
}
