.App {
  text-align: center;
}


input#titleinput {
  font-size: 60px;
  margin-top: 70px;
}

div.secenekler {
  border: 1px;
  width: 80%;
  height: 50px;
  border-color: black;
  border-style: solid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

li#li {
  border: 1px ;
  border-color: black;
  padding: 16px;
  width: 200px;
  text-align: center;
}

ul#ul {
  display: flex;
  list-style: none;
  position: absolute;
  margin-top: 0;
}

textarea#multitext {
  box-sizing:border-box;
}

img#uploadimage {
  object-fit: fill;
}
