$background: lightblue;


.Headeradmin {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: $background;
  z-index: 100;
  display: flex;
}

.header_ul {
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}



//li
.header_li {
  position: relative;;
  float: left;
  width: 150px;
  padding: 16px;
  text-align: center;

  &:hover {
    background: red;
    width: 150px;
    padding: 16px;
    text-align: center;

  .header_under_ul {
        display: block;
    }
  }
}


// li altındaki seçenekler
.header_under_li {
  width: 150px;
  padding: 16px;
  margin: 0px;
  text-align: center;
  background: $background;


  &:hover {
    cursor: pointer;
    background: red;
  }
}


.header_under_ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  z-index: 100;
}



/*
  MObile Header
*/
